@import "../../vars";

.image-container {
  width: 100%;
  .inner-image-container {
    overflow: hidden;
    border-radius: 20px;
    &.background-on-image {
      background: white;
      padding: 2rem;
      box-sizing: border-box;
    }
  }
  img {
    user-select: none;
    max-height: 40vh;
    max-width: 100%;
    margin: auto;
  }
  & > span {
    width: 100%;
    text-align: left;
    display: inline-block;
    font-size: 0.8rem;
    margin-top: .5em;
    margin-bottom: 1rem;
    user-select: none;
    a {
      color: lighten($dmMain, 40);
      text-align: right;
      float: right;
    }
  }
}