.image-container {
  width: 100%;
  img {
    width: 100%;
    user-select: none;
  }
  & > span {
    width: 100%;
    text-align: left;
    display: inline-block;
    font-size: 0.8rem;
    margin-top: .5em;
    margin-bottom: 1rem;
    user-select: none;
  }
}